<!-- app/templates/band/band/details.hbs -->
<div class="ui segment" style="background-color: transparent; margin-left:2em">
    <h1 class="ui header" style="color:white">Description</h1>
    <p style="color:white; font-size: 2em">{{model.description}}</p>
</div>
