body {
    background-image: url("https://images.pexels.com/photos/14676/pexels-photo-14676.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#band-input{
    /*style="color:white ;border-radius: 0px; margin-left:3em; background-color: transparent; border-bottom: 2px solid white"*/
    color: white;
    border-radius: 0px;
    margin-left: 3em;
    background-color: transparent;
    border-bottom: 2px solid white;
}
#songs-input {
    color: white;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid white;
}
#ui-form{
    background-color: transparent;
    color: white;
    border: 2px solid lightblue;
}