<div class="ui segment" style="border: 2px solid white; background-color: transparent; margin-top:5em; padding-bottom: 14em; position:relative">
    <h1 class="ui header" style="color: white; position: absolute">SELECT A BAND</h1>
</div>